global
  lua-load  /usr/local/share/lua/5.3/jwtverify.lua
    setenv  OAUTH_JWKS_URL https://|cloudflare_jwt|/cdn-cgi/access/certs
    setenv  OAUTH_ISSUER   https://"${OAUTH_HOST}"

frontend backendproxy
  bind :80
  mode http
  use_backend jwt-validation

backend cloudflare_jwt
  mode http
  default-server inter 10s rise 2 fall 2
  server "${OAUTH_HOST}" "${OAUTH_HOST}":443 check resolvers dnsresolver resolve-prefer ipv4

resolvers dnsresolver
  nameserver dns1 1.1.1.1:53
  nameserver dns2 1.0.0.1:53
  resolve_retries 3
  timeout retry 1s
  hold nx 10s
  hold valid 10s

backend jwt-validation
  mode http
  http-request deny unless { req.hdr(Cf-Access-Jwt-Assertion) -m found }
  http-request set-var(txn.audience) str("${AUDIENCE_TAG}")
  http-request lua.jwtverify
  http-request deny unless { var(txn.authorized) -m bool }
  server app "${BACKEND}"
